parameters:
  name: ''
  platform_name: 'linux64'
  tf_buildqual: ''
  py_minor_version: 8
  working_dir: ''
  staging_dir: ''
  tf_version: ''
  tf_buildnum: ''

jobs:
  - job: ${{ parameters.name }}
    displayName: ${{ parameters.name }}
    continueOnError: false
    timeoutInMinutes: 0
    variables:
      PY_VERSION_DEC: ${{ format('3.{0}', parameters.py_minor_version) }}
      PY_VERSION_LAB: ${{ format('py3{0}', parameters.py_minor_version) }}
      ROOT_DIR: '${{ parameters.working_dir }}'
      SOURCE_DIR: '$(ROOT_DIR)/tissue-forge'
      BUILD_ROOT: '$(ROOT_DIR)/tf_condabuild'
      ENV_DIR: '$(BUILD_ROOT)/buildenv'
      BUILD_OUTPUT: '$(BUILD_ROOT)/result'
    workspace:
      clean: all
    steps:

      # Setup
      - bash: echo "##vso[task.prependpath]$CONDA/bin"
        displayName: Add conda to path
      - script: |
          sudo apt-get update
          add-apt-repository -y ppa:ubuntu-toolchain-r/test
          sudo apt-get install -y libgl1-mesa-dev libegl1-mesa-dev gcc-11 g++-11
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-11 90
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-11 90
        displayName: Install dependencies
      - script: |
          mkdir $(BUILD_ROOT)
          mkdir $(BUILD_OUTPUT)
        displayName: Create working directories
      - checkout: self
        submodules: recursive
        path: tissue-forge
        displayName: Get source
      - script: rm -rf $(SOURCE_DIR)/docs
        displayName: Clean source
      - script: conda create -p $(ENV_DIR) conda-build conda-verify -y
        displayName: Conda setup
      
      # Build
      - script: |
          source activate $(ENV_DIR)
          conda list
          export TF_VERSION=$(tf_version)
          export TF_BUILDNUMBER=$(tf_buildnum)
          export TF_BUILDQUAL=${{ parameters.tf_buildqual }}
          export TF_PYVER=$(PY_VERSION_DEC)
          conda build -c conda-forge --croot $(BUILD_OUTPUT) $(SOURCE_DIR)/package/conda/recipe
        displayName: Execute build

      # Conda recipe has built-in tests, so none necessary here

      # Package and publish
      - template: steps-package-publish-conda.yml
        parameters:
          platform_name: 'linux64'
          tf_version: $(tf_version)
          staging_dir: ${{ parameters.staging_dir }}
          build_output: $(BUILD_OUTPUT)
          py_versions: [$(PY_VERSION_LAB)]
