parameters:
  name: ''
  platform_name: 'win64'
  tf_buildqual: ''
  working_dir: ''
  staging_dir: ''
  tf_version: ''
  tf_buildnum: ''

jobs:
  - job: ${{ parameters.name }}
    displayName: ${{ parameters.name }}
    continueOnError: false
    timeoutInMinutes: 0
    variables:
      ROOT_DIR: '${{ parameters.working_dir }}'
      SOURCE_DIR: '$(ROOT_DIR)\tissue-forge'
      BUILD_ROOT: '$(ROOT_DIR)\tf_condabuild'
      ENV_DIR: '$(BUILD_ROOT)\buildenv'
      BUILD_OUTPUT: '$(BUILD_ROOT)\result'
    workspace:
      clean: all
    steps:

      # Setup
      - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
        displayName: Add conda to path
      - script: |
          mkdir $(BUILD_ROOT)
          mkdir $(BUILD_OUTPUT)
        displayName: Create working directories
      - checkout: self
        submodules: recursive
        path: tissue-forge
        displayName: Get source
      - script: rmdir $(SOURCE_DIR)\extern\libsbml\src\sbml\validator\test\test-data /s /q
        displayName: Patch source
      - script: conda create -p $(ENV_DIR) conda-build conda-verify -y
        displayName: Conda setup

      # Build
      - script: |
          call activate $(ENV_DIR)
          call conda list
          set TF_VERSION=$(tf_version)
          set TF_BUILDNUMBER=$(tf_buildnum)
          set TF_BUILDQUAL=${{ parameters.tf_buildqual }}
          conda build -c conda-forge --croot $(BUILD_OUTPUT) $(SOURCE_DIR)\package\conda\recipe
        displayName: Execute build

      # Conda recipe has built-in tests, so none necessary here

      # Package and publish
      - template: steps-package-publish-conda.yml
        parameters:
          platform_name: 'win64'
          tf_version: $(tf_version)
          staging_dir: ${{ parameters.staging_dir }}
          build_output: $(BUILD_OUTPUT)
